@page
@model RukovModel
@{
}


<table class="table">
    <thead>
        <tr>
            <th>
                Номер
            </th>
            <th>
                Задача1, Комментарий
            </th>
            <th>
                Задача2, Комментарий
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Zadachi)
{   <form method="post">  
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zadacha1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zadacha2)
            </td>
            <td>
                <button asp-page-handler="delete" asp-route-id="@item.Id" 
                        onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">delete</button>  
            </td>
        </tr>
    </form>
    
}
    </tbody>
</table>


